<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/Style.css">
        
    </head>
    <body>
        <div class="maincontent">
            {{>headers}}
        <h1>{{errormessage}}</h1> 
        </div>
        

    </body>
  <footer>
    {{>footer}}
  </footer>

</html>