<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/Style.css">
        
        <title>Weather</title>
    </head>
   
    <body>
        <div class="maincontent">
         {{>header}}

         
         <form id="form">
        <input type="text" placeholder="location">
         <button id="b1">search</button>
       </form>

       <p id="message-1"></p>
       <p id="message-2"></p>
        </div>
      
        {{>footer}}

 <script src="/js/app.js"></script>
    </body>
        
    
</html>